# Import Data

In [126]:
import pandas as pd
raw_data=pd.read_csv('user_journey_raw.csv')
raw_data

,user_id,session_id,subscription_type,user_journey
0,1516,2980231,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
1,1516,2980248,Annual,Other-Sign up-Sign up-Sign up-Sign up-Sign up-...
2,1516,2992252,Annual,Log in-Log in-Log in-Log in-Log in-Log in
3,1516,3070491,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
4,1516,3709807,Annual,Log in-Log in-Log in-Log in-Log in-Log in-Log ...
...,...,...,...,...
9930,509095,4487613,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9931,509095,4842565,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9932,509095,4843103,Annual,Other-Other
9933,509095,4845316,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9934,509096,4845427,Annual,Other-Other-Other-Other-Other-Other-Coupon-Cou...

In [122]:
def plan_data(data,plan='All'):
    data2=data.copy()
    if plan=='All':
        data2=data2
    elif plan=='Annual':
        data2=data2[data2['subscription_type']=='Annual']
    elif plan=='Monthly':
        data2=data2[data2['subscription_type']=='Monthly']
    elif plan=='Quarterly':
        data2=data2[data2['subscription_type']=='Quarterly']
    data2=data2.reset_index()
    return(data2)

In [123]:
x=plan_data(raw_data,'All')

In [124]:
x

,index,user_id,session_id,subscription_type,user_journey
0,0,1516,2980231,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
1,1,1516,2980248,Annual,Other-Sign up-Sign up-Sign up-Sign up-Sign up-...
2,2,1516,2992252,Annual,Log in-Log in-Log in-Log in-Log in-Log in
3,3,1516,3070491,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
4,4,1516,3709807,Annual,Log in-Log in-Log in-Log in-Log in-Log in-Log ...
...,...,...,...,...,...
9930,9930,509095,4487613,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9931,9931,509095,4842565,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9932,9932,509095,4843103,Annual,Other-Other
9933,9933,509095,4845316,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
9934,9934,509096,4845427,Annual,Other-Other-Other-Other-Other-Other-Coupon-Cou...

In [125]:
plan_data(raw_data,'Annual')

,index,user_id,session_id,subscription_type,user_journey
0,0,1516,2980231,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
1,1,1516,2980248,Annual,Other-Sign up-Sign up-Sign up-Sign up-Sign up-...
2,2,1516,2992252,Annual,Log in-Log in-Log in-Log in-Log in-Log in
3,3,1516,3070491,Annual,Homepage-Log in-Log in-Log in-Log in-Log in-Lo...
4,4,1516,3709807,Annual,Log in-Log in-Log in-Log in-Log in-Log in-Log ...
...,...,...,...,...,...
6528,9930,509095,4487613,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
6529,9931,509095,4842565,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
6530,9932,509095,4843103,Annual,Other-Other
6531,9933,509095,4845316,Annual,Other-Other-Other-Other-Other-Other-Other-Othe...
6532,9934,509096,4845427,Annual,Other-Other-Other-Other-Other-Other-Coupon-Cou...

In [127]:
plan_data(raw_data,'Quarterly')

,index,user_id,session_id,subscription_type,user_journey
0,80,16589,3493454,Quarterly,Homepage-Career tracks-Career tracks-Career tr...
1,81,16589,3503180,Quarterly,Homepage-Sign up-Sign up-Sign up-Sign up-Sign up
2,82,16589,3528526,Quarterly,Checkout-Checkout
3,338,151003,3830350,Quarterly,Homepage-Pricing
4,339,151003,3830358,Quarterly,Pricing-Career track certificate
...,...,...,...,...,...
348,9306,505995,4673475,Quarterly,Homepage-Sign up-Sign up-Log in-Log in-Log in-...
349,9307,505995,4694734,Quarterly,Checkout-Checkout-Checkout-Checkout-Checkout-C...
350,9309,506093,4636946,Quarterly,Courses-Sign up
351,9310,506093,4649852,Quarterly,Homepage-Sign up-Sign up-Sign up-Sign up-Sign ...
352,9311,506093,4650146,Quarterly,Checkout-Checkout-Checkout-Checkout

In [128]:
plan_data(raw_data,'Monthly')

,index,user_id,session_id,subscription_type,user_journey
0,34,11145,501166,Monthly,Homepage-Log in-Log in-Log in-Log in-Log in
1,35,11145,802038,Monthly,Homepage-Log in-Log in-Log in
2,36,11145,2173786,Monthly,Homepage-Log in
3,37,11145,2173790,Monthly,Homepage-Log in-Log in-Log in
4,38,11145,3604036,Monthly,Homepage-Log in-Log in-Log in
...,...,...,...,...,...
3044,9747,508492,4806759,Monthly,Checkout-Checkout
3045,9774,508649,4812166,Monthly,Other-Other-Other-Other-Other-Other
3046,9775,508649,4812205,Monthly,Other-Other
3047,9853,508892,4830113,Monthly,Courses-Sign up-Sign up-Sign up-Sign up-Sign u...
3048,9854,508892,4830618,Monthly,Checkout-Checkout-Checkout-Checkout-Checkout-C...

# Pre-Processing Data

In [129]:
def remove_page_duplicates(data,target_column):
    data2=data.copy()
    user_journey=list(data2[target_column])
    lst_user_journey_split=[]
    for row in user_journey:
        lst_user_journey_split.append(row.split('-'))
    
    l1=[]
    for i in lst_user_journey_split:
        l2=[]
        for j in i:
            if j not in l2:
                l2.append(j)
        l1.append(l2)

    output=[]
    for i in l1:
        res='-'.join([str(j) for j in i])
        output.append(res)
    data2[target_column]=pd.Series(output)
    
    return(data2)

In [130]:
def group_by(data,group_column,target_column,count_from,sessions='All'):
    data2=data.copy()
    user_id=data2[group_column].unique()
    
    
    o=[]
    if sessions=='All':
        for i in user_id:
            u_j='-'.join([str(data2[target_column][j])  for j in data2.index  if i==data2[group_column][j]])
            o.append(u_j)
    else:
        if count_from=='first':
            t=[]
            for i in user_id:
                t1=[]
                for j in data2.index:
                    if i==data2[group_column][j]:
                        t1.append([data2[target_column][j]])
                t1=t1[:sessions]
                t2=[]
                for i in t1:
                    for j in i:
                        t2.append(str(j))
                u_j='-'.join(t2)
                o.append(u_j)            
        elif count_from=='last':
            t=[]
            for i in user_id:
                t1=[]
                for j in data2.index:
                    if i==data2[group_column][j]:
                        t1.append([data2[target_column][j]])
                t1=t1[-sessions:]
                t2=[]
                for i in t1:
                    for j in i:
                        t2.append(str(j))
                u_j='-'.join(t2)
                o.append(u_j)
    data3=pd.DataFrame(list(zip(user_id,o)),columns=['user_id','user_journey'])
    return(data3)

In [131]:
def remove_pages(data,pages,target_column):
    data2=data.copy()
    user_id=data2['user_id']
    user_journey=list(data2[target_column])
    
    t=[]
    for i in user_journey:
        x=i.split('-')
        for j in pages:
            if j in x:
                x.remove(j)
        t.append(x)
    output=[]
    for i in t:
        res='-'.join([str(j) for j in i])
        output.append(res)
    data3=pd.DataFrame(list(zip(user_id,output)),columns=['user_id','user_journey'])
    return(data3)

# KPI Metrices

In [132]:
def Page_count(data,target_column,plan='All'):
    data2=plan_data(data,plan)
    x=data2[target_column]
    
    l=[]
    for i in x:
        j=i.split('-')
        l.append(j)
    
    m=[]
    for i in l:
        for j in i:
            if j not in m:
                m.append(j)
    n=[]
    for i in m:
        count=0
        for j in l:
            for k in j:
                if i==k:
                    count+=1
        n.append([i,count])
    df=pd.DataFrame(data=n,columns=['Page','Page Count'])
    return(df)

In [133]:
Page_count(raw_data,'user_journey','All')

                        Page  Page Count
0                   Homepage        3808
1                     Log in       17265
2                      Other        6820
3                    Sign up        6824
4                   Checkout       17896
5                     Coupon       11855
6                    Pricing        2262
7              Career tracks        4910
8           Resources center        2266
9                    Courses        7149
10  Career track certificate        3044
11               Instructors          76
12        Course certificate        1114
13           Success stories         604
14          Upcoming courses         188
15                  About us          33
16                      Blog          36

In [134]:
Page_count(raw_data,'user_journey','Annual')

                        Page  Page Count
0                   Homepage        2576
1                     Log in       10788
2                      Other        5549
3                    Sign up        3778
4                   Checkout        9430
5                     Coupon       11113
6                    Pricing        1538
7              Career tracks        3244
8           Resources center        1824
9                    Courses        4611
10  Career track certificate        2082
11        Course certificate         654
12               Instructors          68
13           Success stories         350
14          Upcoming courses         134
15                  About us          27
16                      Blog          26

In [135]:
Page_count(raw_data,'user_journey','Quarterly')

                        Page  Page Count
0                   Homepage         144
1              Career tracks         148
2                    Pricing          66
3                    Sign up         363
4                   Checkout         912
5   Career track certificate          81
6                     Log in         666
7                    Courses         195
8            Success stories          41
9                      Other         147
10                    Coupon         140
11        Course certificate          71
12          Upcoming courses           4
13          Resources center          60
14                  About us           2

In [136]:
Page_count(raw_data,'user_journey','Monthly')

                        Page  Page Count
0                   Homepage        1088
1                     Log in        5811
2                   Checkout        7554
3              Career tracks        1518
4                    Sign up        2683
5                      Other        1124
6   Career track certificate         881
7           Resources center         382
8                Instructors           8
9                    Pricing         658
10                   Courses        2343
11          Upcoming courses          50
12                    Coupon         602
13        Course certificate         389
14           Success stories         213
15                  About us           4
16                      Blog          10

In [139]:
def Page_presence(data,target_column,plan='All'):
    data2=plan_data(data,plan)
    data2=remove_page_duplicates(data2,target_column)
    x=data2[target_column]

        
    # print(x.isna().sum())
    l=[]
    for i in x:
        if type(i) is not str:
            pass
        else:
            j=i.split('-')
            l.append(j)
    
    m=[]
    for i in l:
        for j in i:
            if j not in m:
                m.append(j)
    n=[]
    for i in m:
        count=0
        for j in l:
            for k in j:
                if i==k:
                    count+=1
        n.append([i,count])
    df=pd.DataFrame(data=n,columns=['Page','Page Count'])
    return(df)

In [140]:
Page_presence(raw_data,'user_journey','Quarterly')

                        Page  Page Count
0                   Homepage          91
1              Career tracks          17
2                    Pricing          28
3                    Sign up          64
4                   Checkout         103
5   Career track certificate          13
6                     Log in         135
7                    Courses          25
8            Success stories           3
9                      Other          42
10                    Coupon          13
11        Course certificate           8
12          Upcoming courses           3
13          Resources center           7
14                  About us           1

In [141]:
Page_presence(raw_data,'user_journey','All')

                        Page  Page Count
0                   Homepage        2396
1                     Log in        3798
2                      Other        1535
3                    Sign up        1210
4                   Checkout        2021
5                     Coupon        1041
6                    Pricing         929
7              Career tracks         747
8           Resources center         339
9                    Courses         908
10  Career track certificate         355
11               Instructors          26
12        Course certificate         191
13           Success stories          49
14          Upcoming courses         101
15                  About us          22
16                      Blog          15

In [142]:
Page_presence(raw_data,'user_journey','Annual')

                        Page  Page Count
0                   Homepage        1555
1                     Log in        2332
2                      Other        1146
3                    Sign up         691
4                   Checkout        1081
5                     Coupon         969
6                    Pricing         633
7              Career tracks         496
8           Resources center         269
9                    Courses         591
10  Career track certificate         242
11        Course certificate         123
12               Instructors          21
13           Success stories          31
14          Upcoming courses          73
15                  About us          19
16                      Blog          12

In [143]:
Page_presence(raw_data,'user_journey','Monthly')

                        Page  Page Count
0                   Homepage         750
1                     Log in        1331
2                   Checkout         837
3              Career tracks         234
4                    Sign up         455
5                      Other         347
6   Career track certificate         100
7           Resources center          63
8                Instructors           5
9                    Pricing         268
10                   Courses         292
11          Upcoming courses          25
12                    Coupon          59
13        Course certificate          60
14           Success stories          15
15                  About us           2
16                      Blog           3

In [162]:
def Page_destination(data,target_column,plan='All'):
    import numpy as np
    data2=plan_data(data,plan)
    # data2=remove_page_duplicates(data2,target_column)
    x=data2[target_column]

    l=[]
    for i in x:
        j=i.split('-')
        l.append(j)
    m=[]
    for i in l:
        for j in i:
            if j not in m:
                m.append(j)
    df=pd.DataFrame(columns=m,index=m)

    for i in m:
        c=[]
        for j in l:
            for k in range(len(j)):
                if i==j[k]:
                    try:
                        c.append(j[k+1])
                    except:
                        pass
        c1=set(c)
        c2={}
        for o in c1:
            count=0
            for p in c:
                if o==p:
                    count+=1
            c2[o]=count
        for k,v in c2.items():
            df[i][k]=v
    df.fillna(0, inplace=True)
    print('Read as: Page in Column is followed by Page in index by x number of times') 
    return(df)

In [163]:
Page_destination(raw_data,'user_journey','All')

Read as: Page in Column is followed by Page in index by x number of times

,Homepage,Log in,Other,Sign up,Checkout,Coupon,Pricing,Career tracks,Resources center,Courses,Career track certificate,Instructors,Course certificate,Success stories,Upcoming courses,About us,Blog
Homepage,1070,28,16,58,28,12,49,106,17,53,7,20,6,4,2,1,2
Log in,947,13389,79,238,0,0,80,37,27,60,14,1,9,2,2,0,1
Other,23,90,5057,1,0,0,13,7,337,6,2,2,3,3,5,5,9
Sign up,340,107,45,5521,1,0,128,194,6,209,65,0,26,3,1,1,0
Checkout,1,0,0,1,15832,0,286,0,0,0,0,0,0,0,0,0,0
Coupon,1,0,26,0,0,10814,0,0,0,0,1,0,0,0,0,0,0
Pricing,442,5,45,26,82,0,1168,77,17,90,42,5,17,3,7,2,1
Career tracks,349,4,19,37,0,0,53,3775,13,260,164,0,12,5,23,0,0
Resources center,50,1,248,0,0,0,32,15,1686,19,18,0,10,6,10,2,0
Courses,244,5,29,29,3,0,99,341,28,5962,35,7,35,1,32,1,1
Career track certificate,116,3,22,33,0,0,58,81,16,38,2563,2,47,4,7,1,0
Instructors,25,0,0,0,0,0,1,1,1,0,2,33,0,0,0,1,0
Course certificate,65,0,13,8,0,0,22,12,14,25,34,0,897,0,7,0,0
Success stories,4,0,14,0,1,0,4,7,4,5,3,0,0,551,2,1,0
Upcoming courses,10,0,4,1,0,0,13,22,8,26,4,0,14,2,74,1,0
About us,5,0,4,0,0,0,0,0,2,0,1,2,0,1,1,11,0
Blog,4,0,6,0,0,0,2,0,0,2,0,0,0,2,0,0,16

In [146]:
Page_destination(raw_data,'user_journey','Annual')

Read as: Page in Column is followed by Page in index by x number of times

,Homepage,Log in,Other,Sign up,Checkout,Coupon,Pricing,Career tracks,Resources center,Courses,Career track certificate,Course certificate,Instructors,Success stories,Upcoming courses,About us,Blog
Homepage,0,5,4,1,6,10,5,0,2,10,1,0,0,1,0,0,1
Log in,555,0,39,120,6,0,40,20,24,36,9,4,2,1,3,0,1
Other,10,52,0,4,2,0,7,5,112,7,1,1,1,2,6,3,4
Sign up,188,44,30,0,7,0,57,102,6,100,36,12,0,3,3,1,0
Checkout,0,0,1,1,0,1,175,2,1,1,0,0,0,0,0,0,0
Coupon,1,0,25,0,0,0,1,0,0,0,1,0,0,0,0,0,0
Pricing,293,7,23,31,0,0,0,40,9,44,17,5,4,1,6,1,1
Career tracks,150,4,13,17,2,0,24,0,8,70,55,8,1,4,10,0,0
Resources center,24,1,15,3,2,0,21,12,0,12,14,7,1,4,7,1,0
Courses,155,2,13,14,6,0,48,96,19,0,18,21,5,0,11,1,1
Career track certificate,69,2,16,9,4,0,28,15,15,18,0,22,1,2,5,1,0
Course certificate,33,0,9,4,3,0,12,9,9,13,22,0,0,0,2,0,0
Instructors,5,0,1,1,0,0,0,0,1,0,2,1,0,0,0,1,0
Success stories,3,0,6,0,0,0,3,3,2,5,1,0,0,0,0,1,1
Upcoming courses,7,1,4,0,1,0,9,15,3,11,3,10,0,1,0,1,0
About us,4,0,3,0,0,0,0,0,1,0,1,0,2,1,1,0,0
Blog,4,0,0,0,0,0,1,0,0,2,0,0,0,1,0,0,0

In [147]:
Page_destination(raw_data,'user_journey','Quarterly')

Read as: Page in Column is followed by Page in index by x number of times

,Homepage,Career tracks,Pricing,Sign up,Checkout,Career track certificate,Log in,Courses,Success stories,Other,Coupon,Course certificate,Upcoming courses,Resources center,About us
Homepage,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Career tracks,7,0,0,0,0,3,0,4,0,0,0,0,0,0,0
Pricing,14,2,0,1,0,1,0,2,1,1,0,0,0,0,0
Sign up,21,7,5,0,1,3,5,7,0,2,0,2,0,0,0
Checkout,0,1,5,0,0,0,0,0,0,0,0,0,0,0,0
Career track certificate,4,0,3,1,0,0,0,0,0,0,0,2,0,0,0
Log in,32,1,2,14,1,1,0,2,0,2,0,0,0,0,0
Courses,7,3,2,0,0,1,0,0,0,3,0,0,1,1,0
Success stories,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0
Other,1,0,0,0,0,0,2,0,0,0,0,0,0,2,0
Coupon,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Course certificate,4,1,0,0,0,0,0,0,0,0,0,0,0,1,0
Upcoming courses,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
Resources center,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0
About us,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [148]:
Page_destination(raw_data,'user_journey','Monthly')

Read as: Page in Column is followed by Page in index by x number of times

,Homepage,Log in,Checkout,Career tracks,Sign up,Other,Career track certificate,Resources center,Instructors,Pricing,Courses,Upcoming courses,Coupon,Course certificate,Success stories,About us,Blog
Homepage,0,1,5,1,0,2,0,2,0,2,5,0,1,1,0,0,0
Log in,318,0,1,10,78,24,5,6,1,32,24,0,0,4,1,0,0
Checkout,0,0,0,0,0,0,0,0,0,56,1,0,0,0,0,0,0
Career tracks,80,1,1,0,7,4,27,5,0,15,24,4,0,3,0,0,0
Sign up,111,41,3,62,0,15,14,0,0,45,85,2,0,12,1,0,0
Other,5,26,1,0,0,0,0,15,1,2,2,2,0,1,0,1,0
Career track certificate,30,2,2,2,5,7,0,0,1,13,13,0,0,9,1,0,0
Resources center,12,1,0,2,0,10,3,0,0,4,4,2,0,2,2,0,0
Instructors,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Pricing,94,0,0,24,8,16,10,3,1,0,26,1,0,6,2,1,0
Courses,57,0,1,56,5,10,6,5,1,29,0,4,0,8,1,0,0
Upcoming courses,1,0,1,4,0,0,0,3,0,4,8,0,0,3,0,0,0
Coupon,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Course certificate,21,0,0,2,3,4,10,1,0,6,4,1,0,0,0,0,0
Success stories,0,0,0,1,0,7,1,2,0,0,1,1,0,0,0,0,0
About us,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
Blog,0,0,0,0,0,2,0,0,0,1,0,0,0,0,0,0,0

In [149]:
def Page_sequence(data,target_column,page_sequence,plan='All'):
    data2=plan_data(data,plan)
    data2=remove_page_duplicates(data2,target_column)
    x=data2[target_column]
    page_sequence='-'.join(page_sequence)
    count=0
    for i in x:
        count=count+i.count(page_sequence)
    return(count)

In [151]:
Page_sequence(raw_data,'user_journey',['Homepage','Log in'],'All')

905

In [152]:
Page_sequence(raw_data,'user_journey',['Homepage','Log in'],'Annual')

555

In [153]:
Page_sequence(raw_data,'user_journey',['Homepage','Log in'],'Quarterly')

32

In [154]:
Page_sequence(raw_data,'user_journey',['Homepage','Log in'],'Monthly')

318

In [168]:
def Journey_length(data,target_column,plan='All'):
    data2=plan_data(data,plan)
    data2=remove_page_duplicates(data2,target_column)
    x=data2[target_column]

    x1=[]
    for i in x:
        x1.append(i.split('-'))
    length=0
    count=0    
    for i in x1:
        length+=len(i)
        count+=1
    import numpy as np
    j_l=np.round(length/count,2)
    return(str(j_l)+' Pages')

In [169]:
Journey_length(raw_data,'user_journey','All')

'1.58 Pages'

In [170]:
Journey_length(raw_data,'user_journey','Annual')

'1.57 Pages'

In [171]:
Journey_length(raw_data,'user_journey','Quarterly')

'1.57 Pages'

In [172]:
Journey_length(raw_data,'user_journey','Monthly')

'1.59 Pages'

# Quiz

In [160]:
x=group_by(raw_data,'user_id','user_journey','first',3)

In [161]:
len(x)

1350

In [164]:
#3rd most popular page for quarterly users
Page_presence(raw_data,'user_journey','Quarterly')

                        Page  Page Count
0                   Homepage          91
1              Career tracks          17
2                    Pricing          28
3                    Sign up          64
4                   Checkout         103
5   Career track certificate          13
6                     Log in         135
7                    Courses          25
8            Success stories           3
9                      Other          42
10                    Coupon          13
11        Course certificate           8
12          Upcoming courses           3
13          Resources center           7
14                  About us           1

In [165]:
x=group_by(raw_data,'user_id','user_journey','first',3)

In [173]:
Journey_length(x,'user_journey','All')

'3.53 Pages'

In [175]:
y=group_by(raw_data,'user_id','user_journey','last',3)

In [176]:
Page_presence(y,'user_journey')

                        Page  Page Count
0                   Checkout         774
1                   Homepage         539
2                    Pricing         216
3                     Log in         605
4                      Other         308
5   Career track certificate          75
6           Resources center          60
7                Instructors           9
8                    Sign up         352
9              Career tracks         145
10                   Courses         200
11                    Coupon         551
12           Success stories          12
13                      Blog           4
14        Course certificate          44
15          Upcoming courses          31
16                  About us           5

In [177]:
y

      user_id                                       user_journey
0        1516  Checkout-Checkout-Checkout-Checkout-Checkout-C...
1        3395  Homepage-Pricing-Pricing-Checkout-Checkout-Che...
2       10107  Checkout-Checkout-Checkout-Checkout-Checkout-C...
3       11145  Homepage-Log in-Log in-Log in-Homepage-Log in-...
4       12400  Other-Career track certificate-Career track ce...
...       ...                                                ...
1345   509060  Other-Other-Other-Other-Other-Other-Other-Othe...
1346   509061  Coupon-Coupon-Coupon-Coupon-Coupon-Coupon-Coup...
1347   509085  Coupon-Coupon-Coupon-Coupon-Coupon-Coupon-Coup...
1348   509095  Other-Other-Other-Other-Other-Other-Other-Othe...
1349   509096  Other-Other-Other-Other-Other-Other-Coupon-Cou...

[1350 rows x 2 columns]

In [208]:
z=[]
for i in y['user_journey']:
    z.append(i.split('-'))
a=[]
for j in z:
    for k in range(len(j)):
        try:
            e=[j[k],j[k+1],j[k+2],j[k+3]]
            f=list(set(e))
            if 4==4:
                a.append(f)
            else:
                pass
        except:
            pass
# print(a)
b=[]
for i in a:
    if i not in b:
        b.append(i)
c=[]
for i in b:
    count=0
    for j in a:
        if i==j:
            count+=1
    c.append([i,count])
d=pd.DataFrame(data=c,columns=['Sequence','Count'])
# print('a= ',a)
# print('b= ',b)
print(d.sort_values('Count'))

                                             Sequence  Count
345               [Other, Upcoming courses, Homepage]      1
152  [Career tracks, Resources center, Coupon, Other]      1
159       [Log in, Resources center, Pricing, Coupon]      1
160               [Resources center, Pricing, Coupon]      1
162        [Career tracks, Log in, Courses, Homepage]      1
..                                                ...    ...
14                                          [Sign up]   1285
17                                           [Log in]   1843
40                                            [Other]   2228
31                                           [Coupon]   7009
0                                          [Checkout]   7716

[346 rows x 2 columns]